<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: "Generate Results"}); %>
    <link rel="stylesheet" href="/css/forms.css" />
    <script src="/js/generate-results.js" defer></script>
</head>

<body>
  <header><%- include('../partials/navbar'); %></header>
  <main>
    <h1><%= formName %></h1>
    <form action="/explain-text" method="POST">
      <label for="formName">Document Title:</label>
      <input type="text" id="formName" name="formName" value="<%= formName %>" required />
      <label for="documentContent">Document Draft (edit as needed):</label>
      <textarea rows="25" cols="80" id="documentContent" name="documentContent" data-content="<%= documentContent %>"
        required>
        <%= documentContent %>
      </textarea>
      <button type="submit">Explain Generated Document</button>
    </form>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>
